@{
    ViewBag.Title = "工作紀錄";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>實作題</p>

<p>
    201908:利用 DevExpress 實作一個親友通訊錄，使用 ASP.NET & MVC，並利用 Crystal Report 產生出二張親友姓名為“廖”及地址在“台中市”的二張報表，在開發過程持續整合/持續傳遞 (CI/CD) 管線運用GIT來完成

    預備學習的技能.
</p>
