@{
    ViewBag.Title = "作者";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Tim<br />
    彰化市金馬路二段479號<br />
    @*<abbr title="Phone">P:</abbr>*@
    0911015557
</address>

<address>
    @*<strong>Support:</strong>*@   
    <a href="mailto:tim_chen@gogoplay.app">tim_chen@gogoplay.app</a>
</address>